.text {
    margin: 2px;
}

.button {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: 'rgba(0,0,0,0)';
    padding: 0;
}

.button:hover {
    color: #b4b2b2
}

/* 一般的なスクロールバー */
::-webkit-scrollbar {
    width: 8px; /* スクロールバーの幅 */
    height: 8px; /* スクロールバーの高さ */
}

  /* スクロールバーのトラック */
::-webkit-scrollbar-track {
    background: #817f7f; /* トラックの背景色 */
    border-radius: 5px; /* トラックの角丸 */
}

  /* スクロールバーのハンドル */
::-webkit-scrollbar-thumb {
    background: #060606; /* ハンドルの背景色 */
    border-radius: 5px; /* ハンドルの角丸 */
}

  /* ホバー時のハンドル */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* ホバー時の背景色 */
}